body{
    background-image: url("https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position-x:220px;
    background-repeat: no-repeat;
    background-size: 1400px 800px;
    
  }
  